.color {
  width: 1.2rem;
  height: 1.2rem;
  margin: 0.2rem;
  border-radius: 50%;
  border: none
}

.color-picker {
  position: relative;
}

.color-wrapper {
  visibility: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 10rem;
  position: absolute;
  right: 0;
  bottom: 3px;
  border-radius: 10px;
  transition: right 500ms ease-out;
}

.color-wrapper.active {
  visibility: visible;
  right: 2.5rem;
}