.filter-by {
    margin-top: 1rem;
    position: relative;
}

.filter-title {
    padding: 5px 10px;
    width: 10rem;
}

.filter-title:hover, .filter:hover {
    cursor: pointer;
    background-color: var(--HOVER-BG);
    border-radius: 4px;
}

.filter-options {
    display: none;
    padding: 5px 10px;
    background: var(--NEW-NOTE-BG-COLOR);
}

.filter-options.active {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.filter {
    color: var(--DARK-YELLOW);
    padding: 0px 5px;
}

.filter-option{
    display: flex;
    flex-direction: column;
    gap: 10px
}

.label{
    display: flex;
    align-items: center;
    gap: 10px
}