.filters {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0px;
}

.filter-by {
  margin-top: 1rem;
  position: relative;
}

.filter-title {
  width: 13rem;
  padding: 5px 10px;
}

.filter-title:hover,
.filter:hover {
  cursor: pointer;
  background-color: var(--HOVER-BG);
  border-radius: 4px;
}

.filter-options {
  display: none;
  padding: 5px 10px;
  width: 13rem;
  background: var(--NEW-NOTE-BG-COLOR);
}

.filter-options.active {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.filter {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 5px;
}

.filter-option {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.label {
  display: flex;
  align-items: center;
  gap: 10px;
}

.clear-filter {
  border: none;
  background: none;
  width: 12rem;
  text-align: right;
  color: var(--AUTH-CTA-BG);
  font-weight: 500;
  flex-grow: 2;
  font-size: 1rem;
}
