.ql-container {
	min-height: 5rem;
	border-radius: 0 0 5px 5px;
	font-size: 15px;
}

.ql-container.ql-snow {
	border: none;
}

.ql-toolbar {
	border-radius: 5px 5px 0 0;
	background-color: #f0ecdd;
}

.quill {
	width: 100%;
	display: flex;
	flex-direction: column-reverse;
	height: 100%
}

.ql-toolbar.ql-snow {
	display: flex;
	overflow-x: auto;
	padding: 0;
	overflow-y: hidden;
	border: none;
	padding: 10px;
	border-radius: 0px;
}

.ql-toolbar.ql-snow .ql-formats {
	margin-right: 0;
	display: flex;
}

.ql-snow.ql-toolbar button {
	border-radius: 4px;
}

.ql-snow.ql-toolbar button:hover .ql-stroke,
.ql-snow .ql-stroke,
.ql-snow.ql-toolbar button.ql-active .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke {
	stroke: black;
}

.ql-snow.ql-toolbar button.ql-active {
	background-color: #a7d2c4;
}

.ql-snow.ql-toolbar button:hover .ql-fill {
	fill: black
}

.ql-snow.ql-toolbar button:hover,
.ql-snow.ql-toolbar .ql-picker-label:hover,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-label:hover {
	color: black
}

.ql-snow.ql-toolbar .ql-picker-label:hover .ql-fill,
.ql-snow.ql-toolbar button.ql-active .ql-fill {
	fill: black
}

.ql-editor.ql-blank::before {
	left: 1px;
}

.ql-editor {
	padding: 12px 0px;
}