.sort-by{
    margin-top: 1rem;
    position: relative;
    border:none
}
.sort-title{
    width: 10rem;
    padding:5px 10px;
    border:none
}
.sort-title:hover{
    cursor: pointer;
    background-color: #f0ecdd;;
    border-radius: 4px;
    border:none
}

.sort-options{
    display: none;
    padding: 5px 10px;
    background: var(--NEW-NOTE-BG-COLOR); 
}

.sort-options.active{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.sort{
    color: var(--DARK-YELLOW)
}

.sort:hover{
    background-color: #f0ecdd;;
    cursor: pointer;
}